<div class="pure-g background-shade">
  <div class="pure-u-1-12 pulled-right-border"></div>
  <div class="pure-u-1-6 pulled-right-border">
    <div id="content-menu" class="padded-content">
      content
    </div>
  </div>
  <div class="pure-u-3-4">
    <div id="main-content" class="padded-content">
      <span class="title">Overview</span>
      <div class="inner-container">
        <ul class="container-nav">
           <li>
             <span class="large-metric">99.9k</span>
             <span class="metric-label">Visitors</span>
             <span class="metric-description">
               <i class="fa fa-arrow-up green" aria-hidden="true"></i> 15% vs <a href="#">last 7 days</a>
             </span>
           </li>
           <li class="selected-view">
             <span class="large-metric">99.9k</span>
             <span class="metric-label">Shoppers</span>
             <span class="metric-description">
               <i class="fa fa-arrow-down red" aria-hidden="true"></i> 15% vs <a href="#">last 7 days</a>
             </span>
           </li>
           <li>
             <span class="large-metric">99.9k</span>
             <span class="metric-label">Bots</span>
             <span class="metric-description">
               <i class="fa fa-arrow-up green" aria-hidden="true"></i> 15% vs <a href="#">last 7 days</a>
             </span>
           </li>
           <li>
             <span class="large-metric">99.9k</span>
             <span class="metric-label">Errors</span>
             <span class="metric-description">
               <i class="fa fa-arrow-up green" aria-hidden="true"></i> 15% vs <a href="#">last 7 days</a>
             </span>
           </li>
         </ul>
        <div class="viz-header">
          <span class="dates-selected">
            Nov 1, 2017 &ndash; Nov 8, 2017
          </span>
        </div>
        <div class="chart">
          <app-test-viz></app-test-viz>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
